
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body, button, input {
    font-family: 'Montserrat', sans-serif;
}

body {
    position: relative;
    min-width: 100%;
    margin-top: 1rem;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input, p, button {
    margin: .25rem;
}

p, button {
    font-weight: bold;
}

button {
    border: none;
    border-radius: .125rem;
    padding: .5rem 2em;
    font-size: 1.25rem;
}

button:hover {
    opacity: .7;
}

a {
    text-decoration: none;
    color: steelblue;
    font-size: 1.125rem;
    margin: .5rem;
    padding: .25rem;

}

a:hover {
    opacity: .7;
}

#stencilize-button {
    background-color: rgb(47, 255, 175);
    color: rgb(20, 99, 99);
    
}

#download-button {
    background-color: rgb(131, 199, 255);
    color: rgb(17, 55, 126);
}

#input-image {
    color: saddlebrown;
    position: relative;
    left: 3rem;
}
